.cores {
	position: relative;
	margin-top: 90px;
}
.cores label:after {
	content: '';
	display: block;

	border-radius: 50%;
	width: 50px;
	height: 50px;

	border: 6px solid rgba(0,0,0,0);
	transition: 1s;

	position: absolute;
	top:30px;
}
.cores input:checked + label:after {
	border: 6px solid rgba(0,0,0,0.3);
}
.cores label:after {
	

	-moz-box-sizing: border-box;
		box-sizing: border-box;
}
.cores label:hover:after {
	border: 6px solid rgba(0,0,0,0.1);
}
.cores label img {
	display: block;
	max-width: 100%;
}
.cores input[type=radio] {
	display: none;
}
.cores input:not(:checked) + label img {
	display: none;
}
label[for=verde]:after {
	background-color: #3c6;
	left:0;
}
label[for=rosa]:after {
	background-color: #f66;
	left:60px;
}
label[for=azul]:after {
	background-color: #66f;
	left:120px;
}
.produto {
	color: #333;
	line-height: 1.3px;
	margin-top: 2em;
}
.produto h1 {
	font-size: 1.8em;
	font-weight: bold;
}
.produto p {
	font-size: 1.2em;
	font-style: italic;
	margin-bottom: 1em;
}
.produto legend {
	display: block;
	font: bold 0.9em/2.5 Arial;
	text-transform: uppercase;
}
.comprar {
	background: #91bd3c;
	border: none;
	color: #333;

	font-size: 1.4em;
	text-transform: uppercase;

	box-shadow: 0 1px 3px #777;

	display: block;
	padding: 0.5em 1em;
	margin: 1em 0;
}
